<!DOCTYPE html>
<html lang="en">
<head>
  <style>html{visibility: hidden;opacity:0;}</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
  <link rel="preload" href="/static/css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/static/css/styles.css"></noscript>
  <title>About | binx.page</title>
</head>
<body style="background-color: #121313">
  <!-- Copy the nav from index.gohtml here for consistency -->
  <nav>
    <div class="logo">
      <span><a href="/">binx.page</a></span>
    </div>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="content-container">
    <header>
      <h1 class="intro-title">About</h1>
    </header>
    <main>
      <div class="prose">
        <p>This is the about page.</p>
      </div>
    </main>
  </div>
  <footer>
    <div class="footer-content">
      <div class="footer-nav">
        <a href="/" class="footer-link">Home</a>
        <a href="/blog" class="footer-link">Blog</a>
        <a href="/about" class="footer-link">About</a>
        <a href="https://github.com/Binxly/binxbytes" class="footer-link" target="_blank" rel="noopener noreferrer">GitHub</a>
        <a href="https://instagram.com/binx.ly" class="footer-link" target="_blank" rel="noopener noreferrer">Instagram</a>
      </div>
      <div class="footer-info">
        <p>contact@binx.page | © 2025 Binx.Page</p>
      </div>
    </div>
  </footer>
</body>
</html>
