<!DOCTYPE html>
<html lang="en">
<head>
  <style>html{visibility: hidden;opacity:0;}</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="preload" href="/static/css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/static/css/styles.css"></noscript>
  <title>Contact | binx.page</title>
</head>
<body style="background-color: #121313">
  <!-- Copy the nav from index.gohtml here for consistency -->
  <nav>
    <div class="logo">
      <span><a href="/">binx.page</a></span>
    </div>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="content-container">
    <header>
      <h1>Contact</h1>
    </header>
    <main>
      <div class="prose">
        <p>This is the contact page. Which I might fill out. Eventually.</p>
      </div>
    </main>
  </div>
  <footer>
    <p>© 2025 Zac Bagley</p>
  </footer>
</body>
</html>
