<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="preload" href="/static/css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/static/css/styles.css"></noscript>
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}">
</head>
<body>
  <nav>
    <div class="logo">
      <span><a href="/">binx.page</a></span>
    </div>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <header>
      <h1>{{ .Title }}</h1>
      <p>{{ .Description }}</p>
    </header>
    <main>
      <ul class="prose">
        {{ range .Posts }}
          <li><a href="/posts/{{ .Slug }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </main>
    <footer>
      <p>© 2025 Binx</p>
    </footer>
  </div>
</body>
</html>
