<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="preload" href="/static/css/styles.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/static/css/styles.css"></noscript>
  <title>{{.Title}} | binx.page</title>
</head>
<body>
  <nav>
    <div class="logo">
      <span><a href="/">binx.page</a></span>
    </div>
    <div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <header class="post-header">
      <h1 class="post-title">{{.Title}}</h1>
      {{with .FormattedDate}}
      <div class="post-meta">
        <span class="post-date">{{.}}</span>
        {{with $.Author}}
        <span>•</span>
        <span>By <a href="mailto:{{.Email}}">{{.Name}}</a></span>
        {{end}}
      </div>
      {{end}}
      {{with .Author}}
      {{if not $.FormattedDate}}
      <div class="post-author">
        <p>By <a href="mailto:{{.Email}}">{{.Name}}</a></p>
      </div>
      {{end}}
      {{end}}
    </header>
    <main>
      <article class="prose">
        {{.Content}}
      </article>
    </main>
  </div>
</body>
</html>
